div(class="block mb-4 pb-2 mt-md-3 sticky-top")
  div(class="p-4 pb-2")
    h4 Период

    form
      if fact
        input(type="hidden" name="fact" id="fact" value=fact)

      if action && !fact
        input(type="hidden" name="action" id="action" value=action)

      if gameResult && !action && !fact
        input(type="hidden" name="gameResult" id="gameResult" value=gameResult)

      if userRoles && !action && !fact
        input(type="hidden" name="userRoles" id="userRoles" value=userRoles)

      div(class="input-group mb-3")
        span(class="input-group-text") 
          span(class="bi-calendar-event me-1") 
          span от
        input(class="form-control date-picker" id="from" name="from" value=from autocomplete='off')

      div(class="input-group mb-3")
        span(class="input-group-text") 
          span(class="bi-calendar-event me-1") 
          span до
        input(class="form-control date-picker" id="to" name="to" value=to autocomplete='off')

      div 
        button(type="submit" class="btn btn-sm btn-success w-100")
          span Получить




