if gifts.length != 0
	div(class="block p-3 mb-4")
		div(class="d-flex justify-content-between align-items-center mb-3")
			p(class="mb-0") #[b Открытки]
			if currentAccount && currentAccount.id != profile.id
				div 
					a(href=`/gift?to=${profile.username}` class="btn btn-sm btn-success") Подарить

		div(class="gifts-list mb-2" data-id=profile.id)
			each gift, index in gifts
				div(class="gift-item" data-id=gift.id)
					img(src="/uploads/gift/"+gift.gift.picture data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title=gift.fromusername+'<hr>'+gift.description.trim().replaceAll('\n','<br>')+"<hr>"+gift.giftDate alt=gift.description)
		if gifts.length == 9 
			div(class="more-btn-box text-center")
				button(class="more-gifts-btn btn btn-outline-default mt-2 mb-2") Ещё открытки