meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1")
title= title || "Mafia One"
meta(name="description" content=description)
link(href="/images/logo.png" rel="shortcut icon" type="image/png")
link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
link(rel='stylesheet' href='/css/bootstrap.min.css')
link(rel='stylesheet' href='/css/style.css')
link(rel='stylesheet' href='/css/pm.css')
link(rel='stylesheet' href='/css/vendor/notifier.css')

meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content=ogimage)
meta(name="color-scheme" content="only light")

script(src="/js/bootstrap.bundle.js")
script(src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous")
script(src="/socket.io/socket.io.js")
script(src="/js/helper/alert.js")
script(src="/js/vendor/jquery.tmpl.js")
script(src="/js/base.js")

include ./metrika

include ./message-tmpl

if currentAccount
    include ./user-templates
    script(src="/js/main.js")
    script(src="/js/private-messages.js")
    script(src="/js/search-user.js")
