meta(charset='utf-8')
meta(name="viewport" content="width=device-width, initial-scale=1")
title= title || "Mafia One"
meta(name="description" content=description)

meta(name="yandex-verification" content="a8c5def7599d8915")

link(rel="icon" href="/favicon.svg" type="image/svg+xml")

link(rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png")
link(rel="manifest" href="/icons/site.webmanifest")
link(rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5")
meta(name="msapplication-TileColor" content="#da532c")

-var themeColor = '#222'
if !currentAccount || (currentAccount && currentAccount.skin == 0)
    -themeColor = '#ffffff'
if !currentAccount || (currentAccount && currentAccount.skin == 2)
    -themeColor = '#020'
if !currentAccount || (currentAccount && currentAccount.skin == 3)
    -themeColor = '#022'
if !currentAccount || (currentAccount && currentAccount.skin == 4)
    -themeColor = '#003455'

meta(name="theme-color" content=themeColor)

if noindex 
    meta(name="robots" content="noindex")

link(rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
link(rel='stylesheet' href='/css/bootstrap.min.css')
link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
link(rel='stylesheet' href='/css/style.css?v=1.5')
link(rel='stylesheet' href='/css/pm.css?v=1.2')
link(rel='stylesheet' href='/css/vendor/notifier.css')

if url 
    meta(property="og:url" content=`${process.env.APP_HOST}${url}`)
meta(property="og:type" content="website")
meta(property="og:title" content=title)
meta(property="og:description" content=description)
meta(property="og:image" content=ogimage)
meta(name="color-scheme" content="only light")

script(src="/js/bootstrap.bundle.js")
script(src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous")
script(src="/socket.io/socket.io.js")
script(src="/js/helper/alert.js")
script(src="/js/vendor/jquery.tmpl.js")
script(src="/js/base.js")

if !currentAccount || (currentAccount && currentAccount.id != 1)
    include ./metrika

include ./message-tmpl

if currentAccount
    include ./user-templates
    script(src="/js/main.js")
    script(src="/js/private-messages.js?v=1.0")
    script(src="/js/search-user.js")
