script(id="noMessagesTmpl" type="text/x-jquery-tmpl")
  div(class='nomessages text-secondary')
    span(class="icon ion-edit")
    p Тут пока нет сообщений. Напишите первое

script(id="pmListItemTmpl" type="text/x-jquery-tmpl")
  div(class="friend-item" data-id="${id}")
    div
      div(class="friend-avatar ${online?'online':''}") 
        img(src="/uploads/${avatar}")
    div(class="friend-info")
      div(class="friend-nik ellipsis") ${username}
      div(class="last-message ellipsis read-${isRead}") {{html message}}

script(id="privateMessagesOnlineStatusTmpl" type="text/x-jquery-tmpl")
  . 
    {{if online}}
  small(class='text-secondary') онлайн
  . 
    {{else}}
  small(class='text-secondary') 
    . 
      {{if gender == 0}}был(а){{/if}} 
      {{if gender == 1}}был{{/if}} 
      {{if gender == 2}}была{{/if}} 
    . 
      ${onlineDate}
  . 
    {{/if}}

script(id="privateMessagesBoxTmpl" type="text/x-jquery-tmpl")
  div(class="pm-chat-title")
    div(class="pm-friend-info")
      span(class="ion-chevron-left back")
      div(class="pm-friend-avatar ${online?'online':''}") 
        img(src="/uploads/${avatar}")
      div(class="pm-friend-nik") 
        span
          a(href="/profile/${username}") ${username}
        . 
          {{tmpl() '#privateMessagesOnlineStatusTmpl'}}
    div(class="pm-chat-btns")
      a 

  div(class="pm-chat")

  div(class="pm-chat-input-box")
    form
      input(type="text" maxlength=255 placeholder="Сообщение...")
    div(class="smile-icons-box")
    div(class="all-smiles" style="display:none") 
      div(class="all-smiles-title mb-1") Смайлы
      div(class="all-smiles-items")
        .
          {{each(i, smile) smiles}}
        img(src="/images/e${smile}.svg" alt="${smile}")
        .
          {{/each}}

script(id="myPrivateMessagesTmpl" type="text/x-jquery-tmpl")
  div(class="my-message read-${isRead?1:0}") 
    span(class='ion-ios-checkmark-empty isread' title='Прочитано')
    div(class="time" title="${date}") ${time}
    div(class="msg {{if smile}}smile{{/if}}") {{html message}}

script(id="friendPrivateMessagesTmpl" type="text/x-jquery-tmpl")
  div(class="friend-message") 
    div(class="msg {{if smile}}smile{{/if}}") {{html message}}
    div(class="time" title="${date}") ${time}

script(id="messageDateTmpl" type="text/x-jquery-tmpl")
  div(class="messages-date")
    span ${date}

script(id="messagesBeginningTmpl" type="text/x-jquery-tmpl")
  div(class="chat-beginning")
    div
      span(class="ion-chatboxes icon")
      p(class="text-secondary") Выберите диалог из списка слева.

script(id="pmTypingTmpl" type="text/x-jquery-tmpl")
  div(class="typing")
    span
    span
    span


