if !games || games.length == 0
  p Игр не найдено
else

  each g, i in games 
    -var { game } = g
    if i == 11
      button(class="btn btn-dark" data-id=g) Ещё...
    else
      a(class="game-item old-game-type-"+game.gametype.id data-id=game.id href="/game/"+game.id)
        div(class="block p-4 mb-3")
          div(class="game-info mb-3")
            div(class="d-flex justify-content-between align-items-center gap-1")
              div(class="game-type d-flex align-items-center gap-1" title="Режим игры" data-bs-toggle="tooltip" data-bs-placement="bottom") 
                span(class="bi-controller fs-5 bi-icon") 
                span= game.gametype.name
                if game.mode == 2
                  span(class="bi-lightning-fill" title="с добивами" data-bs-toggle="tooltip" data-bs-placement="right")
              div(class="players-count d-flex align-items-center gap-1" title="Количество игроков в зявке" data-bs-toggle="tooltip" data-bs-placement="bottom") 
                span(class="bi-people-fill fs-5 bi-icon") 
                span(class="cnt")= game.players.length
                span  / 
                span= game.playersCount

            div(class="description")
              span= game.description

          div(class="players d-flex flex-wrap")
            p= game.players.map(p => p.username).join(', ')

          div 
            span Игра началсь: 
            span= game.coolStarted

          div 
            span Победившая сторона: 
            if game.rolesideId == 1
              span Ничья
            if game.rolesideId == 2
              span Честные жители
            if game.rolesideId == 3
              span Мафия
            if game.rolesideId == 4
              span Маньяк
