extends /layouts/two_column_8_4

block head 
  link(href="/css/admin/market.css" rel="stylesheet")

block main

  div(class="d-flex justify-content-between align-items-center")
    h1 Список предметов
    div
      a(href="/market/things/add" class="btn btn-sm btn-success bi-plus" title="Добавить предмет")


  table(class="table mt-4 mb-4")
    thead 
      tr 
        th #
        th Название #[br] Тип
        th Описание
        th Цена 
        th Класс #[br] Коллекция
        th Картинка
      tr 
        th(colspan=6)
          div(class="d-flex gap-1")
            input(class="form-control" placeholder="Фильтр" id="filter")
            select(class="form-control" id="class")
              option(value="") Класс
              each item in classes 
                option(value=item.id)= item.name
            select(class="form-control" id="collection")
              option(value="") Коллекция
              each item in collections
                option(value=item.id)= item.name

    tbody 
      each thing in things 
        tr(data-id=thing.id data-class=thing.thingclassId data-collection=thing.thingcollectionId)
          td= thing.id
          td
            span(class="name")= thing.name
            br
            span(class='text-secondary')= thing.thingtype.name
          td
            div(class="desc" title=thing.description)= thing.description
          td
            span(title="Цена продажи")= thing.price
            span  / 
            span(title="Цена покупки в системе")= thing.systemPrice
          td
            span(class='thing-class thing-class-'+thing.thingclass.id)= thing.thingclass.name
            br
            span= thing.thingcollection ? thing.thingcollection.name : ''
          td
            img(src="/uploads/thing/"+thing.picture width=100)



block aside
  include /includes/admin/market/menu

block scripts 
  script(src="/js/admin/market.js")