extends layouts/one_column

block head 
    link(href="/css/profile.css" rel="stylesheet")

block main
  div(class="block")
    div(class="friends-top")
        div(class="friends-crumbs")
            div(class="friends-avatar")
                a(href="/profile/" + profile.id)
                    img(src="/uploads/" + profile.avatar alt=profile.username)
            a(href="/profile/" + profile.id class="user-name ellipsis")= profile.username
            span(class="ion-ios-arrow-right user-name")
            a(href="/profile/friends" class="user-name ellipsis") Друзья
            span(class="ion-ios-arrow-right")
            span Заявки 
            
    if requests && requests.length != 0
        div(class="row friends-list") 
            each friend in requests
                if friend.status == 0 
                    div(class="col-6")
                        div(class="friend-box")
                            div(class="friend-avatar")
                            img(src="/uploads/" + friend.account.avatar)
                            div(class="friend-links ms-2")
                                div 
                                    a(href="/profile/" + friend.account.id class="ellipsis friend-nik")= friend.account.username 
                                div(class="mt-2")
                                    a(href="#" class="btn btn-success btn-sm me-1 accept" data-id=friend.account.id) Принять
                                    a(href="#" class="btn btn-danger btn-sm decline" data-id=friend.account.id) Отклонить
                else 
                    div(class="col-12")
                        h1 Предложение руки и сердца
                        div(class="friend-box zags-box")
                            div(class="friend-avatar")
                            img(src="/uploads/" + friend.account.avatar)
                            div(class="friend-links ms-2")
                                div 
                                    a(href="/profile/" + friend.account.id class="ellipsis friend-nik")= friend.account.username 
                                div(class="mt-2")
                                    a(href="#" class="btn btn-success btn-sm me-1 accept-zags" data-id=friend.account.id) Принять
                                    a(href="#" class="btn btn-danger btn-sm decline-zags" data-id=friend.account.id) Отклонить
    else 
        p(class="p-2 text-center text-secondary") Пока нет новых заявок в друзья.

block scripts 
    script(src="/js/friend-requests.js")