if !games || games.length == 0
  p В данный момент игр нет
else

  each game in games 
    a(class="game-item old-game-type-"+game.gametype.id data-id=game.id href="/game/"+game.id)
      div(class="block p-4 mb-3")
        div(class="game-info mb-3")
          div(class="d-flex justify-content-between align-items-center gap-1")
            div(class="game-type d-flex align-items-center gap-1" title="Режим игры" data-bs-toggle="tooltip" data-bs-placement="bottom") 
              span(class="ion-ios-game-controller-b fs-5 ion-icon") 
              span= game.gametype.name
              if game.mode == 2
                span(class="ion-flash" title="с добивами" data-bs-toggle="tooltip" data-bs-placement="right")
            div(class="players-count d-flex align-items-center gap-1" title="Количество игроков в зявке" data-bs-toggle="tooltip" data-bs-placement="bottom") 
              span(class="ion-ios-people fs-4 ion-icon") 
              span(class="cnt")= game.players.length
              span  / 
              span= game.playersCount

          div(class="description")
            span= game.description

        div(class="players d-flex flex-wrap")
          p= game.players.map(p => p.username).join(', ')

