script(id="noEventTmpl" type="text/x-jquery-tmpl")
  tr
    td Пока никаких транзакций не было 

script(id="moreBtnTmpl" type="text/x-jquery-tmpl")
  div(class="text-center")
    a(class="btn btn-outline-secondary btn-sm moreBtn" data-offset='${offset}') загрузить ещё #[span(class='ion-ios-arrow-down')]

script(id="eventTmpl" type="text/x-jquery-tmpl")
  tr(class="event-item align-middle")
    td(class="icon") 
      .
        {{if eventType == 0}}
      img(src="/images/eMoney.svg")
      . 
        {{/if}}
        {{if eventType == 1}}
      img(src="/images/eBottle.svg")
      . 
        {{/if}}
        {{if eventType == 2}}
      img(src="/images/eDoge.svg")
      . 
        {{/if}}
        {{if eventType == 3}}
      img(src="/images/eCatCry.svg")
      . 
        {{/if}}
        {{if eventType == 4}}
      img(src="/images/eDoge.svg")
      . 
        {{/if}}
        {{if eventType == 7}}
      img(src="/images/eGift.svg")
      . 
        {{/if}}
        {{if eventType == 8}}
      img(src="/images/eMLG.svg")
      . 
        {{/if}}
        {{if eventType == 9}}
      img(src="/images/eMoney.svg")
      . 
        {{/if}}

    td(class="desc")
      .
        {{if eventType == 0}} 
      div Пополнение кошелька
      .
        {{else eventType == 1}}
      div Свадьба
      .
        {{else eventType == 2}}
      div Отзыв предложения
      .
        {{else eventType == 3}}
      div Развод
      .
        {{else eventType == 4}}
      div Отказ от свадьбы
      .
        {{else eventType == 7}}
      div Покупка открытки
      .
        {{else eventType == 8}}
      div Смена ника
      .
        {{else eventType == 9}}
      div Перевод
      . 
        {{else}}
      div Что-то другое
      .
        {{/if}} 

    td(class="value text-end")
      .
        {{if eventType == 0}}
      span(class="plus") +${value}
      .
        {{else eventType == 1}}
      span(class="minus") ${value}
      .
        {{else eventType == 2}}
      span(class="plus") +${value}
      .
        {{else eventType == 3}}
      span(class="minus") ${value}
      .
        {{else eventType == 4}}
      span(class="plus") +${value}
      .
        {{else eventType == 7}}
      span(class="minus") ${value}
      .
        {{else eventType == 8}}
      span(class="minus") ${value}
      .
        {{else eventType == 9}}
      span(class="minus") ${value}
      .
        {{/if}}

    td(class="date text-end")
      . 
        ${coolDate}