div(class="block p-3 mb-4")
	h5 Общая статистика
	table(class="table table-hover")
		tr 
			td Всего игр
			td= total.all
		tr 
			td Побед
			td= total.win
		tr 
			td Поражений
			td= total.loose
		tr 
			td Ничьи
			td= total.draw
		tr 
			td Выход в тайм
			td= total.timeout
