mixin fact_cell(value, fact)
  -var v = `${value} (0%)`
  if total.all != 0
    -v = `${value} (${(value * 100 / total.all).toFixed(2)}%)`
  td
    if my
      a(href=`/games/archive/my?from=${from?from:''}&to=${to?to:today}&fact=${fact}` target="_blank")= v
    else
      span= v

if currentAccount && currentAccount.vip && fact
  div(class="block p-3 mb-4")
    h5 Игровые факты
    table(class="table table-hover")
      tr 
        td Первая посадка
        +fact_cell(fact.first_zek, 1)
      tr 
        td Первый труп
        +fact_cell(fact.first_course, 2)
      tr 
        td Первая проверка
        +fact_cell(fact.first_check, 3)
