script(id="giftItemTmpl" type="text/x-jquery-tmpl")
    div(class="gift-item" data-id="${id}")
        img(src="/uploads/gift/${gift.picture}" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="bottom" title="${fromusername}<hr>${description}<hr>${giftDate}")
