-function prettyDate(dateString){
  -var date = new Date(dateString);
  -var d = date.getDate();
  -var monthNames = [ "января", "февраля", "марта", "апреля", "мая", "июня", "июля", "августа", "сентября", "октября", "ноября", "декабря" ];
  -var m = monthNames[date.getMonth()];
  -var y = date.getFullYear();
  -var h = date.getHours();
  -var min = date.getMinutes();
  -h = h > 9 ? h : '0' + h
  -min = min > 9 ? min : '0' + min
  -return d + ' ' + m + ' ' + y + ' ' + h + ':' + min;
-}

div(class="container")
  div(class="profile-top-info main-info")
    div(class="profile-avatar " + (profile.online ? "online" : ""))
      div(class="profile-avatar-image" style="background-image:url(/uploads/" + profile.avatar + ")" data-bs-toggle="tooltip" data-bs-placement="top" title=profile.online ? '' : 'Последний раз в онлайне - ' + prettyDate(profile.updatedAt))
    div(class="profile-top-info-main")
      div(class="profile-top-info-main-nick d-flex align-items-center")
        if profile.vip
          span(class="bi bi-star-fill fs-3 text-warning me-2" data-bs-toggle="tooltip" data-bs-placement="top" title='VIP-статус<br>до ' + prettyDate(profile.vipTo) data-bs-html="true") 
        span(class="nick" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="top" title='Дата регистрации <br>' + prettyDate(profile.createdAt))=profile.username
      div(class="profile-top-info-main-rank")
        if profile.rank == 0
          div(class="image" style="background-image:url(/images/0.svg)")
          div(class="text") Нет ранга
        else if profile.rank < 1500
          div(class="image" style="background-image:url(/images/1.svg)")
          div(class="text f-mon" title="Ранг" data-bs-toggle="tooltip" data-bs-placement="right")= profile.rank
        else if profile.rank < 2500
          div(class="image" style="background-image:url(/images/2.svg)")
          div(class="text f-mon" title="Ранг" data-bs-toggle="tooltip" data-bs-placement="right")= profile.rank
        else if profile.rank < 3000
          div(class="image" style="background-image:url(/images/3.svg)")
          div(class="text f-mon" title="Ранг" data-bs-toggle="tooltip" data-bs-placement="right")= profile.rank
        else if profile.rank < 3500
          div(class="image" style="background-image:url(/images/4.svg)")
          div(class="text f-mon" title="Ранг" data-bs-toggle="tooltip" data-bs-placement="right")= profile.rank
        else if profile.rank < 4000
          div(class="image" style="background-image:url(/images/5.svg)")
          div(class="text f-mon" title="Ранг" data-bs-toggle="tooltip" data-bs-placement="right")= profile.rank
        else
          div(class="image" style="background-image:url(/images/6.svg)")
          div(class="text f-mon")= profile.rank

      div(class="profile-level d-flex mt-2")
        span(title=`Уровень: ${levelNum}<hr>Набрано баллов: ${profile.level}` data-bs-toggle="tooltip" data-bs-placement="right" data-bs-html="true")
          a(href="#")
            span(class="badge bg-secondary")= levelName

      if power 
        div(class="power mt-3 fs-4") 
          span(title="Сила в режиме «Перестрелка»" data-bs-toggle="tooltip" data-bs-placement="bottom")
            span(class="ion-flash text-secondary") 
            span= power
      if partner 
        -var pName='Партнёр'
        if profile.gender == 1
          - pName='Супруга'
        if profile.gender == 2
          - pName='Супруг'

        div(class="partner mt-3 fs-5") 
          span(data-bs-toggle="tooltip" data-bs-placement="bottom" title=pName)
            span(class="ion-android-favorite text-secondary") 
            a(class="text-decoration-none" href="/profile/" + partner.friend.username)= partner.friend.username

