h3 Профиль
div(class="block")
  div(class="top-settings-box")
    div(class="avatar-box")
      div
        img(src='/uploads/'+currentAccount.avatar alt=currentAccount.username)
      div(class="change-avatar-box") 
        button(class="btn btn-success change-avatar-btn") Обновить аватар
        form(enctype="multipart/form-data" method="post")
          input(type='file' name="avatar")

    div(class="fields-box")
      div(class="form-row2 mb-3 nik-box")
        label(class="form-label") Ник*
        div(class="accept-input-box")
          input(class="form-control" maxlength=30 value=currentAccount.username data-val=currentAccount.username)
          button(class="btn btn-success ion-checkmark accept" title=`Стоимость смены ника: ${nikChanges.length*100} рублей`)

      div(class="form-row2 mb-3")
        label(class="form-label") Почта
        input(class="form-control" disabled value=currentAccount.email)

      div(class="mb-3")
        label(class="form-label") Пол
        select(class="form-control" id="gender")
          option(value="0") Не указан
          option(value="1" selected=currentAccount.gender==1) Мужской
          option(value="2" selected=currentAccount.gender==2) Женский

      div 
        label(class="form-label") Инвентарь
        select(class="form-control" id="inventhide")
          option(value="0") Виден всем
          option(value="1" selected=hideinvent==1) Виден только друзьям
          option(value="2" selected=hideinvent==2) Скрыт для всех