script(id="thingTmpl" type="text/x-jquery-tmpl")
  div(class="thing-item" data-id="${id}" data-thing="${JSON.stringify(this.data)}")
    div(class="thing-item-img")
      img(src="/uploads/thing/${thing.picture}")
    div(class="thing-item-name tin-class-${thing.thingclassId}")
      span ${thing.name}

script(id="noThingsTmpl" type="text/x-jquery-tmpl")
  p Пока нет вещей
