div(class="block list mb-4")
  div(class="line") 
    h3 Топ игроков недели

  if top.length == 0
    p Пока никого нет
  else
    each player,i in top 
      div(class="line player")

        div(class=`place place-${i+1}`)
          span= i+1

        div(class="avatar ms-3")
          img(src=`/uploads/${player.avatar}` width=50 height=50)

        div(class="d-flex flex-column justify-content-center flex-grow-1 ms-2")
          div(class="username")
            a(href=`/profile/${player.username}` class="ellipsis")
              span= player.username
          if i == 0
            div 
              small(class="text-secondary") 600 р.
          if i == 1
            div 
              small(class="text-secondary") 300 р.
          if i == 2
            div 
              small(class="text-secondary") 100 р.

        div(class="total ms-3")
          b= player.total