script(id="notifyTmpl" type="text/x-jquery-tmpl")
  tr(data-id="${id}" class="${classByLevel(level)}")
    td ${message}
    td ${coolDate}
    td 
      form(method="post")
        input(type="hidden" name="notifyId" value="${id}")
        button(type="submit" class="btn btn-sm btn-danger bi-trash3-fill" title="Удалить")