script(id="userTmpl" type="text/x-jquery-tmpl")
  span
    . 
      [
    a(href="/profile/${account.username}" title="ответить ${account.username}" class="m-nik {{if account.vip}}vip{{/if}}" tabindex="-1") ${account.username}
    . 
      ]

script(id="messageTmpl" type="text/x-jquery-tmpl")
  div(class="message-box {{if highlight}}highlight{{/if}} {{if private}}private-message{{/if}} {{if username==''}}system-message{{/if}}")
    . 
      {{if message != '<hr>'}}
    div(class="message")
      . 
        {{if username!=''}}
      div(class="m-time me-2" title="Пожаловаться") ${time}
      . 
        {{else}}
      div(class="m-time me-2") ${time}
      .
        {{/if}}
    . 
      {{/if}}
    span 
      . 
        {{if username != ''}}
      . 
        [
      a(href="/profile/${username}" title="ответить ${username}" class="m-nik" tabindex="-1") ${username}
      . 
        ]
      span(class="m-delimiter")  — 
      . 
        {{/if}}
      span(class="m-message") {{html message}}


script(id="logTmpl" type="text/x-jquery-tmpl")
  div(class="log-box log-type-${type}")
    span {{html message}}


script(id="smileTmpl" type="text/x-jquery-tmpl")
  img(src='/images/e${smile}.svg' alt='~${smile}')

script(id="linkTmpl" type="text/x-jquery-tmpl")
  a(href='${link}' target='_blank') ${url}

script(id="typingTmpl" type="text/x-jquery-tmpl")
  .
    {{if users.length != 0 }}
      <span>${list}
      {{if users.length > 2}}и ещё ${users.length - 2}{{/if}} 
      {{if users.length == 1}}печатает
      {{else}}печатают
      {{/if}}
      ...
      </span>
    {{/if}}

script(id="voteResultTmpl" type="text/x-jquery-tmpl")
  small(class='vote-result') против ${vote}

script(id="playerRoleTmpl" type="text/x-jquery-tmpl")
  small(class="role") ${name}