div(class="mb-3")
  div(class="players-list"+(steps?' voting':''+game.period==4?' night':''+game.period==3?' twilight':''))
    each player in players 
      -var out = false
      -var ps = ''
      -var pr = ''
      if player.status != 3 && player.status != 7
        -ps = ' player-status-'+player.status
        -pr = ' role-showed role-'+player.role.id
        -out = true
      div(class="p-1")
        div(class="player"+ps+pr data-username=player.username)
          div(class="friend-item")
            div
              div(class="friend-avatar "+(player.account.online?' online':''))
                img(src="/uploads/"+player.account.avatar)
            div(class="friend-info")
              div(class="ellipsis")
                a(class="username")= player.username
              if out
                small(class="role")= player.role.name
            if !out
              div(class="vote-dot "+(steps?'':'hide') title="Голосов" data-username=player.username)
                if !steps
                  span(class="vote-cnt") 0
                else 
                  span(class="vote-cnt")= steps.filter(s => s.player.username == player.username).length

              div(class="kill-dot"+(game.period==4?(shoot?(shoot.player.username==player.username?' checked':' hide'):''):' hide') title="Выстрелить" data-username=player.username)
              div(class="prova-dot"+(game.period==3?'':' hide') title="Проверить" data-username=player.username)
