extends /layouts/two_column_4_8

block head 
  link(href="/css/market/market.css" rel="stylesheet")

block main
  div(class="block mb-4")
    div(class="p-4 bb-1-gray")
      h4 Предложения игроков
    div(class="market-list")
      if thingOffers.length == 0 
        p(class="p-4") В данный момент никто не продаёт этот предмет
      else 
        each offer in thingOffers

          div(class="thing-item bb-1-gray" data-id=offer.id)

            div(class="thing-line")
              div(class="thing-image")
                img(src="/uploads/thing/"+thing.picture alt=thing.name)
              div(class="thing-name-box")
                div(class="thing-name")= thing.name
                div
                  span(class="thing-class thing-class-"+thing.thingclass.id)= `${thing.thingclass.name} класс`

            div(class="thing-line")
              div(class="offer-account")
                a(href="/profile/"+offer.account.username title=offer.account.username data-bs-toggle="tooltip" data-bs-placement="bottom")
                  img(src="/uploads/"+offer.account.avatar)
              div(class="thing-price-box")
                if currentAccount && currentAccount.username == offer.account.username
                  button(class="btn change-price pb-0 pt-0" data-id=offer.id title="Изменить цену" data-bs-toggle="tooltip" data-bs-placement="top")= `${offer.marketPrice} р.`
                  button(class="btn btn-sm btn-danger take-back" data-id=offer.id title="Снять лот с продажи" data-bs-toggle="tooltip" data-bs-placement="bottom") Снять
                else 
                  span= `${offer.marketPrice} р.`
                  button(class="btn btn-sm btn-success buy" data-id=offer.id) Купить


  if systemItem 
    div(class="block mb-4")
      div(class="p-4 bb-1-gray")
        h4 Предложение системы

      div(class="market-list")

        div(class="thing-item bb-1-gray")

          div(class="thing-line")
            div(class="thing-image")
              img(src="/uploads/thing/"+systemItem.picture alt=thing.name)
            div(class="thing-name-box")
              div(class="thing-name")= systemItem.name
              div
                span(class="thing-class thing-class-"+systemItem.thingclass.id)= `${systemItem.thingclass.name} класс`

          div(class="thing-line")
            div(class="offer-account")
              div(style='width:50px')
                include /includes/svg-icon

            div(class="thing-price-box")
              span= `${systemItem.systemPrice} р.`
              button(class="btn btn-sm btn-success buy-from-system" data-id=thing.id) Купить


block aside 
  div(class="block mb-4 sticky-top")
    div(class="thing-name-block p-3 thing-class-"+thing.thingclass.id)
      h4= thing.name
      div(class="thing-type")
        span= `${thing.thingtype.name}, ${thing.thingclass.name} класс`
    div(class="thing-image-block p-4")
      img(class="w-100" src="/uploads/thing/"+thing.picture alt=thing.name)
    div(class="thing-description p-4")
      div(class="text-secondary")
        each line in thing.description.split('\r\n')
          p= line

        if items && items.length != 0
          div(class="mb-2") Эти вещи входят в #[span= thing.thingtype.id==3?'набор':'кейс']:
          div(class="d-flex flex-wrap mb-3")
            each item in items 
              a(href="/market/thing/"+item.thing.id class="thing-class me-1 mb-1 fs-6 text-decoration-none thing-class-"+item.thing.thingclassId)= item.thing.name
      if thing.thingcollection
        div(class="text-secondary")= thing.thingcollection.name


block scripts 
  if currentAccount
    script(src="/js/market/thing.js?v=1.1")