script(id="noGamesTmpl" type="text/x-jquery-tmpl")
  small(class="") Игры не найдены

script(id="moreGamesTmpl" type="text/x-jquery-tmpl")
  div(class="text-center")
    button(class="btn btn-dark btn-more" data-idless="${id}") Ещё...

script(id="gameTmpl" type="text/x-jquery-tmpl")
  a(class="game-item old-game-type-${gametype.id}" data-id="${id}" href="/game/${id}")
    div(class="block p-4 mb-3 position-relative")
      div(class="game-info mb-2")
        div(class="d-flex justify-content-between align-items-center gap-1")
          div(class="game-type d-flex align-items-center gap-1") 
            .
              {{if competition}}
            span(class="bi-trophy me-1" title="Соревновательный" data-bs-toggle="tooltip" data-bs-placement="right")
            . 
              {{/if}}
            span(class="bi-controller fs-5 bi-icon" title="Режим игры" data-bs-toggle="tooltip" data-bs-placement="bottom") 
            span ${gametype.name}
            . 
              {{if mode == 2}}
            span(class="bi-lightning-fill" title="с добивами" data-bs-toggle="tooltip" data-bs-placement="right")
            . 
              {{/if}}
            . 
              {{if fullprivate != 1}}
            span(class="bi bi-sign-no-parking-fill ms-1" title="Приват отключен" data-bs-toggle="tooltip" data-bs-placement="right")
            .               
              {{/if}}
            .               
              {{if gametype.id == 2 && melee == 1}}
            span(class="bi bi-h-circle-fill ms-1" title="Рукопашная" data-bs-toggle="tooltip" data-bs-placement="right")
            .               
              {{/if}}
            .               
              {{if !firstday}}
            span(class="bi bi-moon-stars-fill ms-1" title="После знакомства сразу идёт ночь" data-bs-toggle="tooltip" data-bs-placement="right")
            .               
              {{/if}}

          div(title="Время начала игры" data-bs-toggle="tooltip" data-bs-placement="bottom") 
            span(class="bi-clock") 
            span ${coolStarted.replace(new Date().getFullYear(), '')}

      . 
        {{if description != ''}}
      div(class="description mb-2") ${description}
      . 
        {{/if}}

      div(class="d-flex flex-column")
        div(class="d-flex")
          div(class="players-count d-flex align-items-center gap-1" title="Количество игроков в зявке" data-bs-toggle="tooltip" data-bs-placement="right") 
            span(class="bi-people-fill fs-5 bi-icon") 
            span(class="cnt") ${players.length}
            span  / 
            span ${playersCount}

        div(class="me-5")
          p
            . 
              {{each(i, player) players}}
                {{html "<span class='player-in-game'>"+player.username+"</span>"}}{{if i < players.length - 1}},{{/if}}
              {{/each}}
      . 
        {{if rolesideId != 1}}
      div(class="winner winner-side-${rolesideId}" title="${rolesideId==2?'Победили честные жители':rolesideId==3?'Победила мафия':rolesideId==4?'Победил маньяк':''}" data-bs-toggle="tooltip" data-bs-placement="left")
      . 
        {{/if}}