script(id="noFriendsOnlineTmpl" type="text/x-jquery-tmpl")
  span(class="pt-1 text-secondary no-online-friends") Друзей в онлайне пока нет


script(id="friendOnlineTmpl" type="text/x-jquery-tmpl")
  div(class="online-friend-box" data-id="${id}")
    div(class="friend-item")
      div(class="friend-avatar online")
        img(src="/uploads/${avatar}")
      div(class="friend-info")
        a(href="/profile/${username}") ${username}
      div(class="friend-actions") 
        span(class="start-chat ion-chatbox-working" title="Личное сообщение" onclick="startPrivateWith(${id})")

script(id="gamePlayerTmpl" type="text/x-jquery-tmpl")
  div(class="player" data-username="${player.account.username}")
    div(class="friend-item flex-column align-items-center gap-1")
      div(class="friend-avatar ${player.account.online?'online':''}")
        img(src="/uploads/${player.account.avatar}")
        div(class="remove-from-game" data-gameid="${id}" data-username="${player.account.username}")
          div(class="ion-ios-close-outline text-danger")
      div(class="friend-info text-center w-100")
        a(href="/profile/${player.account.username}") ${player.account.username}

script(id="gameItemTmpl" type="text/x-jquery-tmpl")
  div(class="game-item ${my?'my':''} ${inGame?'ingame':''} game-type-${gametype.id}" data-id="${id}" data-game="${JSON.stringify(this.data)}")
    div(class="block p-4 mb-3")

      div(class="game-info mb-3")
        div(class="d-flex justify-content-between align-items-center gap-1")
          div(class="game-type d-flex align-items-center gap-1" title="Режим игры" data-bs-toggle="tooltip" data-bs-placement="bottom") 
            span(class="ion-ios-game-controller-b fs-5 ion-icon") 
            span ${gametype.name}
          div(class="players-count d-flex align-items-center gap-1" title="Количество игроков в зявке" data-bs-toggle="tooltip" data-bs-placement="bottom") 
            span(class="ion-ios-people fs-4 ion-icon") 
            span(class="cnt") ${players.length} 
            span  / 
            span ${playersCount} 
          div(class="d-flex align-items-center gap-1" title="Время для сбора игроков" data-bs-toggle="tooltip" data-bs-placement="bottom") 
            span(class="ion-ios-clock fs-6 ion-icon")
            span(class="waithing-time" data-deadline="${deadline}" data-seconds="${seconds}" data-stamp="${Date.now()}") 

        div(class="description")
          span ${description}


      div(class="players d-flex flex-wrap")
        div(class="game-action-btns d-flex gap-2")
          . 
            {{if my}}
          div
            div(class="game-action-btn btn-remove-game ion-ios-close-outline me-2" data-id="${id}" title="Удалить заявку" data-bs-toggle="tooltip" data-bs-placement="bottom")
          .
            {{/if}}
          div
            div(class="game-action-btn btn-from-game ion-ios-minus-outline me-2 ${inGame?'':'hide'}" data-id="${id}" title="Покинуть заявку" data-bs-toggle="tooltip" data-bs-placement="bottom")

          div
            div(class="game-action-btn btn-to-game ion-ios-plus-outline me-2" data-id="${id}" title="Присоедениться к заявке" data-bs-toggle="tooltip" data-bs-placement="bottom")



        . 
          {{each(i,player) players}}
            {{tmpl({player, id}) '#gamePlayerTmpl'}}
        .   
          {{/each}}


