script(id="noFriendsOnlineTmpl" type="text/x-jquery-tmpl")
  small(class="pt-1 text-secondary no-online-friends") Друзей в онлайне пока нет

script(id="friendOnlineTmpl" type="text/x-jquery-tmpl")
  div(class="online-friend-box${gameplayers?(gameplayers.length != 0?' in-game':''):''}" data-id="${id}" data-r="${JSON.stringify(this)}")
    div(class="friend-item")
      div(class="friend-avatar online")
        a(href="/profile/${username}")
          img(src="/uploads/${avatar}")
      div(class="friend-info")
        span(class="ellipsis")
          . 
            {{if punishments && punishments.length != 0}}
            {{each(i,punishment) punishments}}
            {{if punishment.type == 1}}
          span(title="Молчанка до {{html punishment.coolDate}}" data-bs-toggle="tooltip" data-bs-placement="bottom")
            i(class="bi bi-mic-mute-fill")
          . 
            {{/if}}
            {{/each}}
            {{/if}}

          span(class="f-nik") ${username}
      div(class="friend-actions") 
        . 
          {{if gameplayers && gameplayers.length != 0}}
        a(href="/game/${gameplayers[0].gameId}" class="to-game bi bi-controller me-2" title="Смотреть игру" data-bs-toggle="tooltip" data-bs-placement="bottom")
        . 
          {{else}}
        a(class="to-game bi bi-controller me-2" title="Смотреть игру" data-bs-toggle="tooltip" data-bs-placement="bottom")
        . 
          {{/if}}
        span(class="start-chat bi bi-chat-right-dots" title="Личное сообщение" data-bs-toggle="tooltip" data-bs-placement="bottom" onclick="startPrivateWith(${id})")

script(id="gamePlayerTmpl" type="text/x-jquery-tmpl")
  div(class="player added" data-username="${player.account.username}")
    div(class="friend-item flex-column align-items-center gap-1")
      div(class="friend-avatar ${player.account.online?'online':''}")
        a(href="/profile/${player.account.username}" target="_blank")
          img(src="/uploads/${player.account.avatar}")
        div(class="remove-from-game" data-gameid="${id}" data-username="${player.account.username}")
          div(class="bi bi-x-circle text-danger")
      div(class="friend-info text-center w-100")
        a(href="/profile/${player.account.username}") ${player.account.username}

script(id="gameItemTmpl" type="text/x-jquery-tmpl")
  div(class="game-item removing ${my?'my':''} ${inGame?'ingame':''} old-game-type-${gametype.id}" data-id="${id}" data-game="${JSON.stringify(this.data)}")
    div(class="block p-4 mb-3")

      div(class="game-info mb-3")
        div(class="d-flex justify-content-between align-items-center gap-1")
          div(class="game-type d-flex align-items-center gap-1" title="Режим игры" data-bs-toggle="tooltip" data-bs-placement="bottom") 
            span(class="bi bi-controller fs-5 bi-icon") 
            span ${gametype.name}
            . 
              {{if mode == 2 && (gametype.id == 1 || gametype.id == 4 || gametype.id == 5)}}
            span(class="bi bi-lightning-fill" title="с добивами" data-bs-toggle="tooltip" data-bs-placement="right")
            .               
              {{/if}}
            . 
              {{if mode == 2 && gametype.id == 2}}
            span(class="bi bi-lightning-fill ms-1" title="Ждать все ходы" data-bs-toggle="tooltip" data-bs-placement="right")
            .               
              {{/if}}
            .               
              {{if gametype.id == 2 && melee == 1}}
            span(class="bi bi-p-circle ms-1" title="Рукопашная" data-bs-toggle="tooltip" data-bs-placement="right")
            .               
              {{/if}}
            .               
              {{if !firstday}}
            span(class="bi bi-moon-stars-fill ms-1" title="После знакомства сразу идёт ночь" data-bs-toggle="tooltip" data-bs-placement="right")
            .               
              {{/if}}

          div(class="players-count d-flex align-items-center gap-1" title="Количество игроков в зявке" data-bs-toggle="tooltip" data-bs-placement="bottom") 
            span(class="bi bi-people-fill fs-5 bi-icon") 
            span(class="cnt") ${players.length} 
            span  / 
            span ${playersCount} 
          div(class="d-flex align-items-center gap-1") 
            span(class="bi bi-stopwatch-fill fs-6 bi-icon" title="Время для сбора игроков{{if autostart}}<hr class='m-0'>Автостарт{{/if}}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true")
            span(class="waithing-time" data-deadline="${deadline}" data-seconds="${seconds}" data-stamp="${Date.now()}") 
            . 
              {{if my && account.vip}}
            span(class="bi bi-play-fill btn-play-game" title="Запустить партию" data-bs-toggle="tooltip" data-bs-placement="bottom" data-id="${id}")
            . 
              {{/if}}

        . 
          {{if roles && roles.length > 0}}
        div(class="roles")
          . 
            {{each(i,r) roles}}
          div(class="badge role role-side-${r.role.rolesideId} role-id-${r.role.id} me-1" title="${r.role.description}" data-bs-toggle="tooltip" data-bs-placement="bottom")
            span(class="role-name") ${r.role.name} 
            . 
              {{if r.cnt > 1}}
            span(class='bi bi-x') 
            span(class="role-cnt") ${r.cnt}
            . 
              {{/if}}
          . 
            {{/each}}
        . 
          {{/if}}

        div(class="description")
          span ${description}


      div(class="players d-flex flex-wrap")
        div(class="game-action-btns d-flex gap-2")
          . 
            {{if my}}
          div
            div(class="game-action-btn btn-remove-game bi bi-x-circle me-2" data-id="${id}" title="Удалить заявку" data-bs-toggle="tooltip" data-bs-placement="bottom")
          .
            {{/if}}
          div
            div(class="game-action-btn btn-from-game bi bi-dash-circle me-2 ${inGame?'':'hide'}" data-id="${id}" title="Покинуть заявку" data-bs-toggle="tooltip" data-bs-placement="bottom")

          div
            div(class="game-action-btn btn-to-game bi bi-plus-circle me-2" data-id="${id}" title="Присоедениться к заявке" data-bs-toggle="tooltip" data-bs-placement="bottom")

        . 
          {{each(i,player) players}}
            {{tmpl({player, id}) '#gamePlayerTmpl'}}
        .   
          {{/each}}


