script(id="noFriendsOnlineTmpl" type="text/x-jquery-tmpl")
    span(class="pt-1 text-secondary no-online-friends") Друзей в онлайне пока нет


script(id="friendOnlineTmpl" type="text/x-jquery-tmpl")
    div(class="online-friend-box" data-id="${id}")
        div(class="friend-item")
            div(class="friend-avatar online")
                img(src="/uploads/${avatar}")
            div(class="friend-info")
                a(href="/profile/${id}") ${username}
            div(class="friend-actions") 
                span(class="start-chat ion-chatbox-working" title="Личное сообщение" onclick="startPrivateWith(${id})")